.places {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.places h1 {
	align-self: flex-start;
	font-size: 30px;
}
.places div {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.places article {
	width: 390px;
	margin: 20px;
	padding: 20px;
	border-radius: 4px;
	border: 1px solid #FF5A5F;
	display: flex;
	flex-direction: column;
}
.places article h2 {
	font-size: 30px;
	margin: 0 auto;
}

.places article {
position: relative;
}
.places .div {
	width: 100%;
	height: 100%;
}
.places article h2 {
	text-align: center;
}
.price_by_night {
	color: #FF5A5F;
	border-radius: 50%;
	border: 4px solid #FF5A5F;
	width: 60px;
	height: 60px;
	font-size: 30px;
	position: relative;
	bottom: 35px;
	left: 320px;
	margin: 0;
	padding: 0;

}
.price_by_night p {
	margin: auto;
}

.information {
	height: 80px;
	border-top: 1px solid #DDDDDD;
	border-bottom: 1px solid #DDDDDD;
	display: flex;
	margin-top: 0;
	padding-top: 0;
}
.information .max_guest {
	background-image: url("../images/icon_group.png");
	background-repeat: no-repeat;
}
.information .number_rooms {
	background-image: url("../images/icon_bed.png");
}

.information .number_bathrooms {
	background-image: url("../images/icon_bath.png");
}
.max_guest, .number_rooms, .number_bathrooms {
	background-position: center;
	background-repeat: no-repeat;
	width: 100px;
	margin: 0 auto auto;
	margin-bottom: 10px;
}
.max_guest p, .number_rooms p, .number_bathrooms p {
	margin: auto auto 0;
}
.amenities, .reviews {
	margin-top: 40px;
	width: 300px;
}
.places .amenities h2, .places .reviews h2 {
	font-size: 16px;
	border-bottom: 1px solid #DDDDDD;
}
ul {
	list-style: none;
}
.places .amenities .pet {
	background-image: url("../images/icon_pets.png");
	background-repeat: no-repeat;
}
.places .amenities .tv {
	background-image: url("../images/icon_tv.png");
	background-repeat: no-repeat;
}
.places .amenities .wifi {
	background-image: url("../images/icon_wifi.png");
	background-repeat: no-repeat;
}
.places .reviews h3 {
	font-size: 14px;
}
.places .reviews p {
	font-size: 12px;
}
