.places {
	display: flex;
	align-content: relative;
	flex-wrap: wrap;
}
.places h1 {
	position: relative;
	top: 7px;
	left: 55px;
	font-size: 30px;
}
.places article {
	width: 390px;
	margin: 20px;
	padding: 20px;
	border-radius: 4px;
	border: 1px solid #FF5A5F;
}
.places article h2 {
	font-size: 30px;
	margin: 0 auto;
}

