.places {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}
.places h1 {
	align-self: flex-start;
	font-size: 30px;
}
.places div {
	display: flex;
	flex-wrap: wrap;
}
.places article {
	width: 390px;
	margin: 20px;
	padding: 20px;
	border-radius: 4px;
	border: 1px solid #FF5A5F;
}
.places article h2 {
	font-size: 30px;
	margin: 0 auto;
}

