.places {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
	position: relative;
}
.places h1 {
	position: absolute
}
.places di {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
.places article {
	width: 390px;
	margin: 20px;
	padding: 20px;
	border-radius: 4px;
	border: 1px solid #FF5A5F;
}
.places article h2 {
	font-size: 30px;
	margin: 0 auto;
}

